In [2]:
import pandas as pd

In [25]:
event_data_path = "../data/bball_dataset_april_4.csv"
bounding_boxes_data_path = "../data/train_test_val_merged_detections_v2_ts_fixed.csv"

In [26]:
event_data = pd.read_csv(event_data_path, header=None)

In [27]:
event_data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,-VcfnuYRhMU,490,360,2377375.000,2400664.933,2384913.177,2384972.840,0.376000,0.242884,layup failure,train
1,-XPEvIMe05A,490,360,1020386.033,1055254.200,1050422.765,1051247.263,0.582667,0.288425,layup success,test
2,8Kg9jj9hzGQ,490,360,1227993.433,1273505.566,-1.000,1261500.152,-1.000000,-1.000000,steal success,train
3,8Kg9jj9hzGQ,490,360,1227993.433,1273505.566,1254131.452,1255201.545,0.698667,0.445920,other 2-pointer failure,train
4,8Kg9jj9hzGQ,490,360,1227993.433,1273505.566,1241897.745,1243128.008,0.548000,0.352941,other 2-pointer failure,train

In [28]:
event_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14548 entries, 0 to 14547
Data columns (total 11 columns):
0     14548 non-null object
1     14548 non-null int64
2     14548 non-null int64
3     14548 non-null float64
4     14548 non-null float64
5     14548 non-null float64
6     14548 non-null float64
7     14548 non-null float64
8     14548 non-null float64
9     14548 non-null object
10    14548 non-null object
dtypes: float64(6), int64(2), object(3)
memory usage: 1.2+ MB

In [29]:
# Columns name got from http://basketballattention.appspot.com/
columns = [
    "#YoutubeId",
    "VideoWidth",
    "VideoHeight",
    "ClipStartTime",
    "ClipEndTime",
    "EventStartTime",
    "EventEndTime",
    "EventStartBallX",
    "EventStartBallY",
    "EventLabel",
    "TrainValOrTest",
]

In [30]:
event_data.columns = columns

In [31]:
event_data.head()

,#YoutubeId,VideoWidth,VideoHeight,ClipStartTime,ClipEndTime,EventStartTime,EventEndTime,EventStartBallX,EventStartBallY,EventLabel,TrainValOrTest
0,-VcfnuYRhMU,490,360,2377375.000,2400664.933,2384913.177,2384972.840,0.376000,0.242884,layup failure,train
1,-XPEvIMe05A,490,360,1020386.033,1055254.200,1050422.765,1051247.263,0.582667,0.288425,layup success,test
2,8Kg9jj9hzGQ,490,360,1227993.433,1273505.566,-1.000,1261500.152,-1.000000,-1.000000,steal success,train
3,8Kg9jj9hzGQ,490,360,1227993.433,1273505.566,1254131.452,1255201.545,0.698667,0.445920,other 2-pointer failure,train
4,8Kg9jj9hzGQ,490,360,1227993.433,1273505.566,1241897.745,1243128.008,0.548000,0.352941,other 2-pointer failure,train

In [34]:
bboxes_data = pd.read_csv(bounding_boxes_data_path, header=None)

In [36]:
bboxes_data.head()

,0,1,2,3,4,5,6
0,-KUYDYCwnOQ,518684833,0.3306,0.6090,0.0919,0.3400,person_0_00511477633
1,-KUYDYCwnOQ,518684833,0.3359,0.4698,0.0861,0.3161,person_6_00511477633
2,-KUYDYCwnOQ,518684833,0.4099,0.3784,0.0841,0.3056,person_14_00511477633
3,-KUYDYCwnOQ,518684833,0.5091,0.2676,0.0723,0.2190,person_10_00511477633
4,-KUYDYCwnOQ,518684833,0.5394,0.1466,0.0802,0.2086,person_26_00511477633

In [37]:
columns_bb = [
    "Youtube ID",
    "Time",
    "Top-left x",
    "Top-left y",
    "Width",
    "Height",
    "player-id",
]

In [38]:
bboxes_data.columns = columns_bb

In [39]:
bboxes_data.head()

,Youtube ID,Time,Top-left x,Top-left y,Width,Height,player-id
0,-KUYDYCwnOQ,518684833,0.3306,0.6090,0.0919,0.3400,person_0_00511477633
1,-KUYDYCwnOQ,518684833,0.3359,0.4698,0.0861,0.3161,person_6_00511477633
2,-KUYDYCwnOQ,518684833,0.4099,0.3784,0.0841,0.3056,person_14_00511477633
3,-KUYDYCwnOQ,518684833,0.5091,0.2676,0.0723,0.2190,person_10_00511477633
4,-KUYDYCwnOQ,518684833,0.5394,0.1466,0.0802,0.2086,person_26_00511477633

In [40]:
bboxes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4045698 entries, 0 to 4045697
Data columns (total 7 columns):
Youtube ID    object
Time          int64
Top-left x    float64
Top-left y    float64
Width         float64
Height        float64
player-id     object
dtypes: float64(4), int64(1), object(2)
memory usage: 216.1+ MB